<html
  xmlns:sec="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1.0"
    />
    <title>더현대닷컴 - 현대백화점 공식 온라인몰</title>

    <script src="../../static/js/reserv.js"></script>

    <link
      rel="stylesheet"
      href="https://ticket.leeum.org/resources/css/bootstrap_custom.css?v=20230320141415"
    />
    <link
      rel="stylesheet"
      href="https://ticket.leeum.org/resources/css/leeum_base.css?v=20230320141415"
    />
    <link
      rel="stylesheet"
      href="https://ticket.leeum.org/resources/css/leeum.css?v=20230320141415"
    />
    <link
      rel="stylesheet"
      href="https://ticket.leeum.org/resources/css/swiper.css?v=20230320141415"
    />
    <link
      rel="stylesheet"
      href="https://ticket.leeum.org/resources/css/leeum_fix.css?v=20230320141415"
    />

    <!--<script src="https://ticket.leeum.org/resources/js/jquery-3.3.1.min.js"></script> -->

    <!--begin of megafence-->

    <script>
      var locale = "ko";

      var minStartDT;
      var maxEndDT;

      $(function () {
        $(window).off("resize");

        // 헤더 메뉴 활성화 (개인예매)
        $("#li_10").addClass("on");

        getExhibitInfoList();

        var sYearMonth = dateUtil.getToday("").substring(0, 6);
        var twoWeekDay = getCurrentMonth();
        if (sYearMonth < twoWeekDay) {
          sYearMonth = twoWeekDay;
        }
        $("#calendar_date").val(sYearMonth);
        getCalendarView(sYearMonth);

        $("#step0 .tit").on("click", function () {
          titleClickOpenEvent($(this));
        });

        $(".clickPeople").delegate(
          'input[type="radio"] + label',
          "click",
          function (e) {
            return clickPeopleCheck($(this));
          }
        );

        $(".clickPeople").delegate(
          'input[type="radio"]',
          "change",
          updateTotalPriceView
        );

        $(".clickDay, .clickTime").delegate("a", "click", function (e) {
          var $this = $(this);
          var i;
          if ($this.parents(".clickDay").length > 0) i = 0;
          if ($this.parents(".clickTime").length > 0) i = 1;

          var $thisDis;
          switch (i) {
            /* 날짜 선택 */
            case 0:
              e.preventDefault();
              $thisDis = $this.parent("td").hasClass("select_day");
              if ($thisDis) {
                WG_StartWebGate(
                  1740, // GATE-ID
                  function () {
                    updateClickDayView($this);
                  },
                  "FRONTEND", // fixed
                  "서비스 접속대기 중(Please wait.)", // 대기UI 제목
                  false, // fixed
                  function () {
                    // 유량제어 서비스 장애 시 처리
                    updateClickDayView($this);
                  }
                );
              }
              return false;
              break;
            /* 시간 선택 */
            case 1:
              e.preventDefault();
              $thisDis =
                $this.parent("li").hasClass("sold_out") ||
                $this.parent("li").hasClass("unselect");
              if (!$thisDis) {
                updateClickTimeView($this);
              } else {
                return false;
              }
              break;
          }
        });
      });

      function nextOpen(i) {
        var mobileH = 0;
        var mochk = false;
        if ($("#wrap").hasClass("mobileJS")) {
          mobileH = $(".float_cont.mo").outerHeight();
          mochk = true;
        }
        $("#step" + (i + 1))
          .addClass("open")
          .find(".accordion_cont")
          .slideDown(400);

        if (i == 2) {
          $(".lowerBtn").addClass("open");
          if (mochk) {
            $(".footer").css({
              "padding-bottom":
                $(".lowerBtn").find(".total_wrap").outerHeight() +
                $(".lowerBtn").find(".lower_btn").outerHeight(),
            });
          }
        } else {
          var scrlAfter = $("#step" + (i + 1)).offset().top;
          $("html, body")
            .stop()
            .animate({ scrollTop: +(scrlAfter - mobileH) }, 400, function () {
              // window.location.assign('#step'.concat(i + 1, '-head'));
              document.querySelector("#step".concat(i + 1, "-head")).focus();
            });
        }
        return false;
      }

      function titleClickOpenEvent($this) {
        var hasClass = $this.parent("li").hasClass("open");

        if (hasClass) {
          $this
            .parent("li")
            .removeClass("open")
            .find(".accordion_cont")
            .slideUp(400);
        } else {
          $this
            .parent("li")
            .addClass("open")
            .find(".accordion_cont")
            .slideDown(400);
        }
      }


      // 달력 select 표시 설정
      function setCalendarSelectView(exhibitInfoList) {
        var nowDateStr = dateUtil.getToday("").substring(0, 6);
        var twoWeekDay = getCurrentMonth();
        if (nowDateStr < twoWeekDay) {
          nowDateStr = twoWeekDay;
        }

        var yearStart = parseInt(minStartDT.substring(0, 4));
        var yearEnd = parseInt(maxEndDT.substring(0, 4));

        for (var i = yearStart; i <= yearEnd; i++) {
          var monthStart =
            i == yearStart ? parseInt(minStartDT.substring(4, 6)) : 1;
          var monthEnd = i == yearEnd ? parseInt(maxEndDT.substring(4, 6)) : 12;

          for (var j = monthStart; j <= monthEnd; j++) {
            var optionDateStr = i.zf(4) + j.zf(2);

            if (locale == "ko") {
              $("#calendar_date").append(
                '<option value="' +
                  optionDateStr +
                  '"' +
                  (nowDateStr == optionDateStr ? " selected" : "") +
                  ">" +
                  stringUtil.formatDate(optionDateStr, "yyyy년 MM월") +
                  "</option>"
              );
            } else {
              $("#calendar_date").append(
                '<option value="' +
                  optionDateStr +
                  '"' +
                  (nowDateStr == optionDateStr ? " selected" : "") +
                  ">" +
                  dateUtil.getEngMonthNm(optionDateStr + "01", "S") +
                  " " +
                  optionDateStr.substring(0, 4) +
                  "</option>"
              );
            }
          }
        }
      }

      // 달력 날짜 데이터(2주)
      function getCalendarView(sYearMonth) {
        var minStartDate = minStartDT.substring(0, 6);

        if (sYearMonth < minStartDate) {
          sYearMonth = minStartDate;
        }

        $("#calendarShowDate").val(sYearMonth);

        $.ajax({
          url: "/https://ticket.leeum.org/leeum/personal/getCalendarListJson.do",
          type: "POST",
          contentType: "application/x-www-form-urlencoded; charset=utf-8",
          data: {
            foundCd: "M30",
            locCd: "3",
            date: sYearMonth,
          },
          dataType: "json",
          cache: false,
          success: function (data) {
            var html = "";

            var nDate = dateUtil.getToday("");
            //var toHour = dateUtil.getHour('');

            /*if(toHour>=17){
                    nDate = dateUtil.addDate(nDate, 1);
                }*/
            /*console.log(nDate);*/

            var firstDay, firstDate, lastDate, maxCellCount;

            // 현재월 기준으로 달력(그리드) 구성하는 cell 갯수
            firstDay =
              sYearMonth.substring(0, 4) +
              "-" +
              sYearMonth.substring(4, 6) +
              "-01";
            firstDate = new Date(firstDay);
            lastDate = new Date(firstDay);
            lastDate.setMonth(lastDate.getMonth() + 1);
            lastDate.setDate(lastDate.getDate() - 1);
            maxCellCount =
              lastDate.getDate() + firstDate.getDay() + (6 - lastDate.getDay());

            $.each(data.calendarList, function (i, item) {
              if (i === maxCellCount) return false;

              var iYearMonth = parseInt(
                stringUtil.formatDate(item.DAY_STR, "yyyyMM")
              );
              var iDay = parseInt(stringUtil.formatDate(item.DAY_STR, "dd"));

              html += (i + 1) % 7 == 1 ? "<tr>" : "";

              var selectDateCheck =
                $("#calendarSelectDate").val() == item.DAY_STR
                  ? " pick_day"
                  : "";
              var dayCultureCheck =
                item.DAY_STR == item.DAY_CULTURE ? "Y" : "N";

              if (iYearMonth !== parseInt(sYearMonth)) {
                html += '<td class="past_day"></td>';
              } else {
                if (item.DAY_STR == item.DAY_CLOSED) {
                  html +=
                    '<td class="closed_day"><a href="#" title=""><span>휴관</span></a></td>';

                  // 오늘 ~ 2주전 가능 제약
                } else if (!getTwoWeekChk(item.DAY_STR)) {
                  html +=
                    '<td class="past_day"><a href="#" title=""><span>' +
                    iDay +
                    "</span></a></td>";
                } else {
                  switch (dateUtil.compare(nDate, item.DAY_STR)) {
                    case -1:
                      if (iYearMonth > sYearMonth) {
                        if (item.DAY_STR == item.DAY_CLOSED) {
                          html +=
                            '<td class="closed_day"><a href="#" title=""><span>휴관</span></a></td>';
                        } else {
                          html +=
                            '<td class="past_day"><a href="#" title=""><span>' +
                            iDay +
                            "</span></a></td>";
                        }
                      } else {
                        if (
                          item.DAY_STR >= minStartDT &&
                          item.DAY_STR <= maxEndDT
                        ) {
                          html +=
                            '<td class="select_day' +
                            selectDateCheck +
                            '"><a href="#" title="예약 가능일"><span>' +
                            iDay +
                            '</span></a><input class="select_date" type="hidden" value="' +
                            item.DAY_STR +
                            '" /><input class="culture_check" type="hidden" value="' +
                            dayCultureCheck +
                            '" /></td>';
                        } else {
                          html +=
                            '<td><a href="#" title="예약 가능일"><span>' +
                            iDay +
                            "</span></a></td>";
                        }
                      }
                      break;
                    case 0:
                      if (iYearMonth == sYearMonth) {
                        if (
                          item.DAY_STR >= minStartDT &&
                          item.DAY_STR <= maxEndDT
                        ) {
                          html +=
                            '<td class="select_day' +
                            selectDateCheck +
                            '"><a href="#" title="예약 가능일"><span>' +
                            iDay +
                            '</span></a><input class="select_date" type="hidden" value="' +
                            item.DAY_STR +
                            '" /><input class="culture_check" type="hidden" value="' +
                            dayCultureCheck +
                            '" /></td>';
                        } else {
                          html +=
                            '<td><a href="#" title="예약 가능일"><span>' +
                            iDay +
                            "</span></a></td>";
                        }
                      } else {
                        html +=
                          '<td class="past_day"><a href="#" title=""><span>' +
                          iDay +
                          "</span></a></td>";
                      }
                      break;
                    case 1:
                      if (iYearMonth > sYearMonth) {
                        if (item.DAY_STR == item.DAY_CLOSED) {
                          html +=
                            '<td class="closed_day"><a href="#" title=""><span>휴관</span></a></td>';
                        } else {
                          html +=
                            '<td class="past_day"><a href="#" title=""><span>' +
                            iDay +
                            "</span></a></td>";
                        }
                      } else {
                        html +=
                          '<td><a href="#" title="예약 가능일"><span>' +
                          iDay +
                          "</span></a></td>";
                      }
                      break;
                    default:
                      break;
                  }
                }
              }

              html += (i + 1) % 7 == 0 ? "</tr>" : "";
            });

            $("#calendar_body").html(html);
          },
        });

        getMoveMonthButtonView(sYearMonth);
      }

      function getCurrentMonth() {
        var returnval;
        var toDate = dateUtil.getToday("");
        if (dateUtil.getHour("") >= 18) {
          toDate = dateUtil.addDate(toDate, 14); //15
        }
        returnval = toDate.substring(0, 6);
        return returnval;
      }

      // 오늘  ~ 2주전 가능 체크
      function getTwoWeekChk(dayVal) {
        var rtnVal = false;
        var toDate = dateUtil.getToday("");
        var twoWeekDay = dateUtil.addDate(toDate, 14); //14
        if (dateUtil.getHour("") >= 18) {
          twoWeekDay = dateUtil.addDate(toDate, 15); //15
        }
        if (dayVal == null || dayVal == "" || dayVal == "undefined") {
          return rtnVal;
        }
        toDate *= 1;
        dayVal *= 1;
        twoWeekDay *= 1;
        if (toDate <= dayVal && dayVal < twoWeekDay) {
          rtnVal = true;
        }

        return rtnVal;
      }

      // 달력 selectbox 이벤트
      function changeCalendarSelectView($this) {
        var selectDate = $this.value;
        getCalendarView(selectDate);
      }

      // 달력 이전, 다음 버튼 이벤트
      function moveMonth(monthValue) {
        var calendarShowDate = $("#calendarShowDate").val();
        var moveDate = dateUtil.addMonth(calendarShowDate + "01", monthValue);

        // 달력 selectbox 설정
        $("#calendar_date").val(moveDate.substring(0, 6));

        getCalendarView(moveDate.substring(0, 6));
      }

      // 달력 이전, 다음 버튼 활성화 체크
      function getMoveMonthButtonView(moveDate) {
        var minStartDate = minStartDT.substring(0, 6);
        var maxEndDate = maxEndDT.substring(0, 6);

        // 이전 버튼 체크
        if (moveDate == minStartDate) {
          $("#calendar_previousBtn").off("click");
          $("#calendar_previousBtn").addClass("disabled");
        } else {
          $("#calendar_previousBtn")
            .off("click")
            .on("click", function () {
              moveMonth(-1);
            });
          $("#calendar_previousBtn").removeClass("disabled");
        }

        // 다음 버튼 체크
        if (moveDate == maxEndDate) {
          $("#calendar_nextBtn").off("click");
          $("#calendar_nextBtn").addClass("disabled");
        } else {
          $("#calendar_nextBtn")
            .off("click")
            .on("click", function () {
              moveMonth(1);
            });
          $("#calendar_nextBtn").removeClass("disabled");
        }
      }

      // 스케쥴 데이터
      function getTimeView(selectDate) {
        $("#calendarSelectDate").val(selectDate);

        $.ajax({
          url: "https://ticket.leeum.org/leeum/personal/getTimeListJson.do",
          type: "POST",
          contentType: "application/x-www-form-urlencoded; charset=utf-8",
          data: {
            foundCd: "M30",
            locCd: "3",
            eventCd: "202104|202202|202301",
            placeGrp: "2",
            planExhibit: "",
            limitedMuzCd: "010000",
            limitedEventCd: "202202202301",
            selectGbn: "202202",
            date: selectDate,
          },
          dataType: "json",
          cache: false,
          success: function (data) {
            var nowDate = dateUtil.getToday("");
            var nowTime = dateUtil.getTime("");

            var dataN2 =
              data.timeList != null ? Math.round(data.timeList.length / 2) : 0;

            $("#time_body2").find(".clickTime_left").html("");
            $("#time_body2").find(".clickTime_right").html("");

            $.each(data.timeList, function (i, item) {
              var html = "";
              var timeCheck = "";
              var clsname = "";

              var possibleCnt =
                parseInt(item.PERSON_CNT) -
                (parseInt(item.RSV_CNT) +
                  parseInt(item.GRP_RSV_CNT) +
                  parseInt(item.ENT_CNT));

              if (possibleCnt <= 0) {
                timeCheck = "sold_out";
                clsname = "sold_out";
              }

              if (nowDate + nowTime > selectDate + item.SCHEDULE_TIME + "00") {
                timeCheck = "closed";
                clsname = "sold_out";
              }

              html += '<li class="select_time ' + clsname + '">';
              html += '<a href="#" title="">';

              if (timeCheck == "") {
                html +=
                  '<span class="date">' +
                  item.SCHEDULE_TIME.substring(0, 2) +
                  ":" +
                  item.SCHEDULE_TIME.substring(2, 4) +
                  "</span>";
                if (locale == "ko") {
                  html += "<span>예약 가능</span>";
                } else {
                  html += "<span>Available</span>";
                }
              } else {
                html +=
                  '<span class="date" style="float:left;">' +
                  item.SCHEDULE_TIME.substring(0, 2) +
                  ":" +
                  item.SCHEDULE_TIME.substring(2, 4) +
                  "</span>";
                if (timeCheck == "closed") {
                  html += '<span style="float:right;">마감</span>';
                } else {
                  html += '<span style="float:right;">매진</span>';
                }
              }

              html +=
                '<input type="hidden" name="possibleCnt" value="' +
                possibleCnt +
                '" />';

              html += "</a>";
              html += "</li>";

              if (i < dataN2) {
                $("#time_body2").find(".clickTime_left").append(html);
              } else {
                $("#time_body2").find(".clickTime_right").append(html);
              }
            });

            $("#calendarSelectTimeSeq").val(data.commonMap.seq);

            nextOpen(0);
          },
        });
      }

      // 날짜선택 및 시간선택 정보 업데이트
      function updateClickDayView(thisValue) {
        $(".select_day").removeClass("pick_day");
        $(".select_day > a").attr("title", "예약 가능일");
        thisValue.parents(".select_day").addClass("pick_day");
        thisValue.attr("title", "예약 선택일");

        $(".select_time").removeClass("pick");
        $("#step2").removeClass("open");
        $(".stepChk > li").eq(2).find(".accordion_cont").slideUp(400);
        $(".stepChk > li").eq(2).removeClass("open");
        var selectDate = thisValue
          .parents(".select_day")
          .find(".select_date")
          .val();
        $("#cultureDayYn").val(
          thisValue.parents(".select_day").find(".culture_check").val()
        );
        getTimeView(selectDate);
        if (locale == "ko") {
          $("#floatPC_daytime, #floatMO_daytime").text(
            "일시 - " +
              stringUtil.formatDate(selectDate, "MM월 dd일") +
              "(" +
              dateUtil.getDayNm(selectDate, locale) +
              ")"
          );
        } else {
          $("#floatPC_daytime, #floatMO_daytime").text(
            "일시 - " +
              dateUtil.getEngMonthNm(selectDate, "S") +
              " " +
              selectDate.substring(6, 8) +
              " (" +
              dateUtil.getDayNm(selectDate, locale) +
              ")"
          );
        }
        $("#floatPC_people, #floatMO_people").text("인원 - ");

      }

      // 시간선택 및 인원선택 정보 업데이트
      function updateClickTimeView(thisValue) {
        $(".select_time").removeClass("pick");
        $(".select_time > a").attr("title", "");
        thisValue.parents(".select_time").addClass("pick");
        thisValue.attr("title", "시간 선택됨");

        getPeopleView();
        $("#calendarSelectTime").val(thisValue.find(".date").text());
        $("#calendarPossibleCnt").val(
          thisValue.find('input[name="possibleCnt"]').val()
        );
        $("#selectPreschoolerCnt").val("0");
        var selectDate = $("#calendarSelectDate").val();
        if (locale == "ko") {
          $("#floatPC_daytime, #floatMO_daytime").text(
            "일시 - " +
              stringUtil.formatDate(selectDate, "MM월 dd일") +
              "(" +
              dateUtil.getDayNm(selectDate, locale) +
              ") " +
              thisValue.find(".date").text()
          );
        } else {
          $("#floatPC_daytime, #floatMO_daytime").text(
            "일시 - " +
              dateUtil.getEngMonthNm(selectDate, "S") +
              " " +
              selectDate.substring(6, 8) +
              " (" +
              dateUtil.getDayNm(selectDate, locale) +
              ") " +
              thisValue.find(".date").text()
          );
        }
        $("#floatPC_people, #floatMO_people").text("인원 - ");

        $("#totalPrice_strong").text("");
        $("#totalPrice_span").text("");

        $("#totalPeople").val("0");
        $("#selectInfoCheck").removeClass("on").off("click");
        $("#step2 .tit")
          .off("click")
          .on("click", function () {
            titleClickOpenEvent($(this));
          });
        $("#popLayer01ShowYn").val("N");
      }


      function calendar_refresh() {
        WG_StartWebGate(
          1742, // GATE-ID
          function () {
            /*var sYearMonth = dateUtil.getToday('').substring(0, 6);
                var twoWeekDay = getCurrentMonth();
                if(sYearMonth < twoWeekDay) {
                    sYearMonth = twoWeekDay;
                }*/
            var calendarShowDate = $("#calendarShowDate").val();
            $("#calendar_date").val(calendarShowDate);
            getCalendarView(calendarShowDate);
          },
          "FRONTEND", // fixed
          "서비스 접속대기 중(Please wait.)", // 대기UI 제목
          false, // fixed
          function () {
            // 유량제어 서비스 장애 시 처리
            var calendarShowDate = $("#calendarShowDate").val();
            $("#calendar_date").val(calendarShowDate);
            getCalendarView(calendarShowDate);
          }
        );
      }
    </script>

 
      <div class="makeuptitle">
        <h2 style="text-align: center; margin: 30px; font-size: 1.5em">
          Make ON 예약하기
        </h2>
      </div>
      <div id="container" class="container" tabindex="-1">
        <div class="section prs_ticketing01">
          <!-- section 에 해당페이지 명 클래스로 css 제어 -->

          <!-- content -->
          <div class="content">
            <!-- float_cont -->
            <!-- pc 버전 -->
            <div class="float_cont floatPC" style="margin-top: 0px">
              <div class="float_inner">
                <div class="exhib_info">
                  <div class="exhib_tit">
                    <!-- 전시 이미지 -->
                    <div
                      class="makeup-main"
                      style="
                        text-align: center;
                        filter: brightness(0.5);
                        opacity: 0.9;
                        position: relative;
                        height: 250px;
                        width: 300px;
                      "
                    >
                      <img
                        src="https://necteltechnologies.com/site/wp-content/uploads/it-consulting.jpeg"
                        style="min-height: 250px; object-fit: cover"
                      />
                    </div>
                    <!-- 더보기 변경 - 2020-12-17 -->
                    <ul
                      class="exhib_list"
                      id="floatPC_layer"
                      style="text-align: center"
                    >
                      <span style="">온라인 프로그램</span>
                    </ul>
                    <!-- //더보기 변경 - 2020-12-17 -->
                  </div>
                  <ul class="list_info">
                    <li id="floatPC_daytime">날짜 -</li>
                    <li id="floatPC_people">시간 -</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--// pc 버전 -->

            <!--// float_cont -->

            <!-- rgt_cont -->
            <div class="rgt_cont">
              <div class="accordion_wrap">
                <ul class="stepChk">
                  <!-- 날짜 선택 -->
                  <li class="open" id="step0">
                    <!-- 선택 활설화 시 dl 에 class open 추가 -->
                    <a
                      href="javascript:void(1);"
                      class="tit"
                      title="예약 가능일"
                      id="step0-head"
                      tabindex="0"
                    >
                      <h3 class="g-title-1">날짜 선택</h3>
                    </a>
                    <div class="accordion_cont" style="">
                      <div class="calendar_wrap">
                        <div class="calendar_top">
                          <!-- 개인 연/월 -->
                          <select
                            id="calendar_date"
                            onchange="changeCalendarSelectView(this)"
                            style="width: 110px"
                            title="년월 선택"
                          >
                            <option value="202303" selected="">
                              2023년 03월
                            </option>
                            <option value="202304">2023년 04월</option>
                            <option value="202305">2023년 05월</option>
                            <option value="202306">2023년 06월</option>
                            <option value="202307">2023년 07월</option>
                          </select>
                          <ul class="month_refresh">
                            <li>
                              <button
                                onclick="calendar_refresh();"
                                title="새로고침"
                              >
                                새로고침
                              </button>
                            </li>
                          </ul>
                          <ul class="month_choice">
                            <li>
                              <a
                                href="javascript:void(0);"
                                class="p_month disabled"
                                id="calendar_previousBtn"
                                title="이전"
                                >이전</a
                              >
                            </li>
                            <li>
                              <a
                                href="javascript:void(0);"
                                class="n_month"
                                id="calendar_nextBtn"
                                title="다음"
                                >다음</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="calendar_cont clickDay">
                          <table>
                            <caption>
                              예매달력
                            </caption>
                            <colgroup>
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">SUN</th>
                                <th scope="col">MON</th>
                                <th scope="col">TUE</th>
                                <th scope="col">WED</th>
                                <th scope="col">THU</th>
                                <th scope="col">FRI</th>
                                <th scope="col">SAT</th>
                              </tr>
                            </thead>
                            <tbody id="calendar_body">
                            </tbody>
                          </table>
                        </div>
                        <ul class="list_day">
                          <li>예약 불가일</li>
                          <li>예약 가능일</li>
                          <li>예약 선택일</li>
                        </ul>
                        <dl class="calendar_info">
                          <dt>예약 안내</dt>
                          <dd>
                            <p>
                              온라인 예약은 프로그램 한달 전부터 가능하며,
                              상담은 6개월이 지나야 재예약이 가능합니다.
                            </p>
                            <p>
                              원활한 상담을 위해 반드시 예약 사항을 지켜주시기
                              바라며, 상담이 어려우시면 다른 고객을 위해 반드시
                              예약를 취소해 주시기 바랍니다.
                            </p>
                          </dd>
                        </dl>
                      </div>
                    </div>
                    <div class="accordion_cont" style="display: none">
                      <div class="calendar_wrap">
                        <div class="calendar_top">
                          <!-- 개인 연/월 -->
                          <select
                            id="calendar_date"
                            onchange="changeCalendarSelectView(this)"
                            style="width: 110px"
                            title="년월 선택"
                          >
                            <option value="202303" selected="">
                              2023년 03월
                            </option>
                            <option value="202304">2023년 04월</option>
                            <option value="202305">2023년 05월</option>
                            <option value="202306">2023년 06월</option>
                            <option value="202307">2023년 07월</option>
                          </select>
                          <ul class="month_refresh">
                            <li>
                              <button
                                onclick="calendar_refresh();"
                                title="새로고침"
                              >
                                새로고침
                              </button>
                            </li>
                          </ul>
                          <ul class="month_choice">
                            <li>
                              <a
                                href="javascript:void(0);"
                                class="p_month disabled"
                                id="calendar_previousBtn"
                                title="이전"
                                >이전</a
                              >
                            </li>
                            <li>
                              <a
                                href="javascript:void(0);"
                                class="n_month"
                                id="calendar_nextBtn"
                                title="다음"
                                >다음</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="calendar_cont clickDay">
                          <table>
                            <caption>
                              예매달력
                            </caption>
                            <colgroup>
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                              <col sytle="width:auto" />
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">SUN</th>
                                <th scope="col">MON</th>
                                <th scope="col">TUE</th>
                                <th scope="col">WED</th>
                                <th scope="col">THU</th>
                                <th scope="col">FRI</th>
                                <th scope="col">SAT</th>
                              </tr>
                            </thead>
                            <tbody id="calendar_body">
                              <tr>
                                <td class="past_day"></td>
                                <td class="past_day"></td>
                                <td class="past_day"></td>
                                <td class="past_day">
                                  <a href="#" title=""><span>1</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>2</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>3</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>4</span></a>
                                </td>
                              </tr>
                              <tr>
                                <td class="past_day">
                                  <a href="#" title=""><span>5</span></a>
                                </td>
                                <td class="closed_day">
                                  <a href="#" title=""><span>휴관</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>7</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>8</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>9</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>10</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>11</span></a>
                                </td>
                              </tr>
                              <tr>
                                <td class="past_day">
                                  <a href="#" title=""><span>12</span></a>
                                </td>
                                <td class="closed_day">
                                  <a href="#" title=""><span>휴관</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>14</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>15</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>16</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>17</span></a>
                                </td>
                                <td class="past_day">
                                  <a href="#" title=""><span>18</span></a>
                                </td>
                              </tr>
                              <tr>
                                <td class="past_day">
                                  <a href="#" title=""><span>19</span></a>
                                </td>
                                <td class="closed_day">
                                  <a href="#" title=""><span>휴관</span></a>
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>21</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230321"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>22</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230322"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>23</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230323"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>24</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230324"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>25</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230325"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                              </tr>
                              <tr>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>26</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230326"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="closed_day">
                                  <a href="#" title=""><span>휴관</span></a>
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>28</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230328"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>29</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230329"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="Y"
                                  />
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>30</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230330"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="select_day">
                                  <a href="#" title="예약 가능일"
                                    ><span>31</span></a
                                  ><input
                                    class="select_date"
                                    type="hidden"
                                    value="20230331"
                                  /><input
                                    class="culture_check"
                                    type="hidden"
                                    value="N"
                                  />
                                </td>
                                <td class="past_day"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <ul class="list_day">
                          <li>예약 불가일</li>
                          <li>예약 가능일</li>
                          <li>예약 선택일</li>
                        </ul>
                        <dl class="calendar_info">
                          <dt>예매 및 관람 안내</dt>
                          <dd>
                            <p>
                              온라인 개인예매는 관람일 14일 전부터 가능하며,
                              개인별 예매 가능한 인원은 최대 4명입니다.
                            </p>
                            <p>
                              안전하고 쾌적한 관람을 위하여 반드시 예매 사항을
                              지켜주시기 바라며, 방문이 어려우시면 다른 관람객을
                              위해 반드시 예매를 취소해 주시기 바랍니다.
                            </p>
                            <p>
                              선택하신 관람 시간부터 다음 관람 시간 전까지 입장
                              가능하며, 전시 관람은 18시까지 가능합니다.
                            </p>
                            <p>
                              마우리치오 카텔란: WE 전시는 개인에 따라 민감한
                              내용을 포함할 수 있으며, 특히 아동·청소년 관람객은
                              유의할 필요가 있으므로 관람에 참고하여 주시기
                              바랍니다.
                            </p>
                            <p>
                              주차장이 협소하여 만차 시 주차가 불가하오니 가급적
                              대중교통을 이용하여 주시기 바랍니다.
                            </p>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </li>
                  <!-- 시간 선택 -->
                  <li id="step1" class="open">
                    <!-- 선택 활성화 시 li 에 class open 추가 -->
                    <a
                      href="javascript:void(1);"
                      class="tit"
                      title="시간 선택"
                      id="step1-head"
                      tabindex="0"
                    >
                      <h3 class="g-title-1">시간 선택</h3>
                    </a>
                    <div class="accordion_cont" style="/* display: none; */">
                      <!-- 추가  -->
                      <div class="time_wrap clickTime" id="time_body2">
                        <ul class="clickTime_left">
                          <li class="select_time">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >10:00</span
                              ><span style="float: right">예약 가능</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                          <li class="select_time sold_out">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >11:00</span
                              ><span style="float: right">매진</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                          <li class="select_time sold_out">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >12:00</span
                              ><span style="float: right">매진</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                          <li class="select_time sold_out">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >13:00</span
                              ><span style="float: right">매진</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                        </ul>
                        <ul class="clickTime_right">
                          <li class="select_time sold_out">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >14:00</span
                              ><span style="float: right">매진</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                          <li class="select_time">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >15:00</span
                              ><span style="float: right">예약 가능</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                          <li class="select_time sold_out">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >16:00</span
                              ><span style="float: right">매진</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                          <li class="select_time sold_out">
                            <a href="#" title=""
                              ><span class="date" style="float: left"
                                >17:00</span
                              ><span style="float: right">매진</span
                              ><input
                                type="hidden"
                                name="possibleCnt"
                                value="0"
                            /></a>
                          </li>
                        </ul>
                        <div style="clear: both"></div>
                      </div>
                    </div>
                  </li>
                  <!-- 인원 선택 -->
                  <li id="step">
                    <!-- 선택 활설화 시 dl 에 class open 추가 -->
                    <a
                      href="javascript:void(0);"
                      class="tit"
                      title="인원 선택"
                      id="step2-head"
                      tabindex="0"
                    >
                      <h3 class="g-title-1">사진 등록</h3>
                    </a>
                    <div
                      class="accordion_cont"
                      style="height: 550px; /* display: none; */"
                    >
                      <!-- g_box -->
                      <div
                        class="faceupload"
                        style="
                          width: 350px;
                          height: 450px;
                          background: darkgray;
                          float: left;
                        "
                      ></div>
                      <div
                        class="rightbox"
                        style="
                          position: relative;
                          height: 450;
                          width: 350;
                          float: right;
                        "
                      >
                        <div class="g_box" style="margin: 0; float: right">
                          <dl>
                            <dt>GUIDE</dt>
                            <dd>정확한 상담을 위해 다음을 지켜주세요<br /></dd>
                            <dd>1. 밝은 곳에서 찍은 사진</dd>
                            <dd>2. 화장하지 않은 상태의 사진</dd>
                            <dd>
                              3. 눈 코 입을 가리지 않은 얼굴형이 드러나는 사진
                            </dd>
                            <dd>
                              사진은 상담 이외의 목적으로 사용되지 않습니다.
                            </dd>
                            <dd>사진은 6개월 보관 후 폐기됩니다.</dd>
                          </dl>
                        </div>
                        <div
                          class="makeupbtn1"
                          style="
                            position: absolute;
                            left: 56%;
                            top: 90%;
                            transform: translate(-50%, 0);
                            text-align: center;
                            width: 300;
                          "
                        >
                          <div
                            class="btn_green"
                            style="
                              float: right;
                              color: white;
                              background: #45675b;
                              height: 40;
                              width: 100;
                            "
                          >
                            <p
                              style="
                                margin-top: 12px;
                                font-weight: 100;
                                font-size: 16;
                                color: white;
                              "
                            >
                              등록하기
                            </p>
                          </div>
                          <div
                            class="btn_gray"
                            style="
                              float: right;
                              color: white;
                              background: slategray;
                              height: 40px;
                              width: 100;
                              margin-right: 20px;
                            "
                          >
                            <p
                              style="
                                margin-top: 12px;
                                font-size: 16;
                                font-weight: 100;
                                color: white;
                              "
                            >
                              삭제
                            </p>
                          </div>
                        </div>
                      </div>

                      <!--// g_box -->
                    </div>
                  </li>
                </ul>
              </div>
              <div class="lowerBtn open">
                <div class="total_wrap">
                  <dl>
                    <dt>총 금액</dt>
                    <dd>
                      <strong id="totalPrice_strong"></strong
                      ><span id="totalPrice_span"></span>
                    </dd>
                  </dl>
                </div>
                <div class="lower_btn">
                  <a href="javascript:void(0);" id="selectInfoCheck"
                    >예약하기</a
                  >
                </div>
              </div>
            </div>
            <!--// rgt_cont -->
          </div>
          <!--// content -->
        </div>
      </div>
    </div>

  </body>
</html>
