<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror-colorpicker@1.7.3/addon/codemirror-colorpicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.css" />
<title>더현대뷰티</title>
</head>
<body>
TEST
<!-- CodeMirror codes -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/mode/css/css.js" ></script>

<!-- ColorPicker codes -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror-colorpicker@1.7.3/addon/codemirror-colorpicker.js" ></script>

<script>

//use CodeMirrorColorPicker as global object 
var ColorPicker = CodeMirrorColorPicker.ColorPicker;
var colorpicker = new ColorPicker({
    color: 'blue', // init color code 
    type : 'palette' // or 'sketch',  default type is 'chromedevtool'
})

// CodeMirror Addon 
var cm = CodeMirror.fromTextArea(document.getElementById("sample_text_area"), {
    colorpicker : {
        mode : 'edit',
        onChange: function (color) { // 색을 선택할 때 호출됩니다. 
            console.log(color);
        }
    }
});
</script>
<script>
Color.ImageToRGB(url, { maxWidth: 100 }, (results) => {
    // colorCount 만큼의 색상 추출 
    this.paletteColors = Color.palette(results, colorCount).map(color => {
        const contrast = Color.contrast(color)
        return { color, contrast, textColor: contrast >= 128 ? 'black' : 'white' }
    }).sort((a, b) => { // 밝기로 정렬 
        if (a.contrast === b.contrast) return 0 
        return a.contrast > b.contrast ? 1 : -1; 
    })
}) 
</script>
</body>
</html>